<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>oh my salary!</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">時給の計算</h3>
        </div>

        <div class="panel-body">
            <div class="js-view-salary-input">
                <label>
                    時給:<input type="number" class="js-wage form-control" value="0"/>
                </label>

                <label>
                    時間:<input type="number" class="js-time form-control" value="0"/>
                </label>
            </div>
        </div>

        <div class="panel-footer">
            <div class="js-view-salary-result">
                支給額：<span class="js-result">0</span>円
            </div>
        </div>
    </div>
</div>


</body>
<script src="node_modules/grunt-traceur/node_modules/traceur/bin/traceur-runtime.js"></script>
<script src="js/app.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var Main = System.get('js/src/es5/main').Main;
        (new Main).run();
    }, false);
</script>
</html>